{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub API (Demo Subset)",
    "version": "2022-11-28",
    "description": "Simplified GitHub REST API for demonstration purposes"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/users/{username}": {
      "get": {
        "summary": "Get a user",
        "operationId": "getUser",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "Get authenticated user",
        "operationId": "getAuthenticatedUser",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        }
      }
    },
    "/user/repos": {
      "get": {
        "summary": "List repositories for authenticated user",
        "operationId": "listUserRepos",
        "tags": ["Repositories"],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "maximum": 100 }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Repository" }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "get": {
        "summary": "Get a repository",
        "operationId": "getRepo",
        "tags": ["Repositories"],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repository" }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "summary": "List repository issues",
        "operationId": "listIssues",
        "tags": ["Issues"],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "maximum": 100 }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Issue" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an issue",
        "operationId": "createIssue",
        "tags": ["Issues"],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IssueCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Issue" }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}": {
      "get": {
        "summary": "Get an issue",
        "operationId": "getIssue",
        "tags": ["Issues"],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "issue_number",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Issue" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "login": { "type": "string" },
          "name": {
            "type": "string",
            "x-pii": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "x-pii": true
          },
          "avatar_url": { "type": "string" },
          "html_url": { "type": "string" },
          "bio": { "type": "string" },
          "public_repos": { "type": "integer" },
          "followers": { "type": "integer" },
          "following": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Repository": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "full_name": { "type": "string" },
          "owner": { "$ref": "#/components/schemas/User" },
          "private": { "type": "boolean" },
          "description": { "type": "string" },
          "html_url": { "type": "string" },
          "language": { "type": "string" },
          "stargazers_count": { "type": "integer" },
          "watchers_count": { "type": "integer" },
          "forks_count": { "type": "integer" },
          "open_issues_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Issue": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "number": { "type": "integer" },
          "title": { "type": "string" },
          "body": { "type": "string" },
          "state": { "type": "string", "enum": ["open", "closed"] },
          "user": { "$ref": "#/components/schemas/User" },
          "labels": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Label" }
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "closed_at": { "type": "string", "format": "date-time" }
        }
      },
      "IssueCreate": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "body": { "type": "string" },
          "assignees": {
            "type": "array",
            "items": { "type": "string" }
          },
          "labels": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "color": { "type": "string" },
          "description": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ]
}
